@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import "tailwindcss";

/* === VARIABLES CSS === */
:root {
  --background: #F8F7F0;
  --foreground: #171717;
 

  --font-sans: "Nunito", Arial, sans-serif;
  --font-pacifico: "Pacifico", cursive;
}
@theme {
  /* Couleurs personnalisées */
  --color-primary:  #5B8C51; /* vert principal */
  --color-dark:     #404A3D; /* vert foncé */
  --color-accent:   #0D920D; /* vert vif */
  --color-yellow:   #EDDD5E; /* jaune clair */
  --color-light:    #F8F7F0; /* beige clair */

  /* Polices déjà définies plus haut si besoin */
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-sans: "Nunito", Arial, sans-serif;       /* Navbar et texte */
  --font-pacifico: "Pacifico", cursive;           /* Titres */
}


