version: "3.9"

services:
  db:
    image: postgres:16
    container_name: panier-db
    ports:
      - "5433:5432"
    environment:
      - .env
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: always

volumes:
  db-data:
